
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: 697565;
}

header {
    background-color: #1E201E;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    height: 750px;
    
}

.left-banner {
    width: 20%;
    background-color: #697565;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.right-banner {
    
    width: 20%;
    background-color: #697565;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 60%;
    background-color:   #3C3D37;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer {
    background-color: #1E201E;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}