body{
  background-color: #E2F1E7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app{
  display: flex;
  flex-flow: column nowrap;
}
.navbar{
  background-color: #243642;
  text-align: center;
  color: ivory;
  font-style: bold;
  font-size: 68px;
}
.content{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}
.sidemenu{
  all: unset;
  list-style: none;
  border: 1px solid;
  height: 750px;
  width: 150px;
  padding: 10px;
  background-color: #387478;
}
.footer{
  background-color: #243642;
  text-align: center;
  color: ivory;
  height: 56px;
}
.main{
  width: 80.52%;
}
.back{
  float: left;
  margin-left: 35px;
}
.title{
  margin-right: 160px;
}
.calc{
  background-color: #243642;
  height: 650px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  color: ivory;
}
.form{
  font-size: 30px;
}
input{
  height: 40px;
  width: 250px;
  font-size: 30px;
}
.wynik{
  font-size: 30px;
  background-color: green;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 40px;
}
